src/main/mule/firstdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="18838bcb-aa7f-4b53-8d72-b5df226df0e2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="firstdemoFlow" doc:id="065c1e4e-f6e2-44a3-8844-a402e40cc992" >
		<http:listener doc:name="Listener" doc:id="bb31e234-711a-4a27-be54-e050594fa750" config-ref="HTTP_Listener_config" path="/first"/>
		<logger level="INFO" doc:name="Logger" doc:id="14bb5c8f-5059-49fd-b5db-ad520487d57f" message="---- start of the flow ---"/>
		<ee:transform doc:name="Transform Message" doc:id="fbc6a9b2-694b-4cb3-9a7b-71a4850a0474" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": "200",
	"message": "success",
	"description": "created successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="3376222d-479d-416a-b82d-4f41980d9e69" name="sub-firstdemoFlow1"/>
		<logger level="INFO" doc:name="Logger" doc:id="e86d047a-4e99-421e-8faa-6ceb784a183f" message="--- end of the flow---"/>
	</flow>
	<flow name="sub-firstdemoFlow1" doc:id="4888aa20-ae52-487e-9981-1d7b831448fe" >
		<logger level="INFO" doc:name="Logger" doc:id="d4dded76-c75b-44c6-a210-8cd43971914c" message="--- calling subflow--"/>
		<ee:transform doc:name="Transform Message" doc:id="b31b46c8-8e0a-472e-b959-03d957858dad" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "calling subflow",
	"description": "calling sub flow"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="f4bb81e3-180d-459d-8309-06119576b57c" name="secon_sub_flow"/>
	</flow>
	<flow name="secon_sub_flow" doc:id="b51d8c0b-8038-40e5-a632-de6e9c044681" >
		<set-payload value='" first demo application tested"' doc:name="Set Payload" doc:id="595eeebe-0f37-4d2a-b2fd-02d0a2e42935" />
		<choice doc:name="Choice" doc:id="a58efaa2-85be-4fd6-93b5-632dc3a2095b" >
			<when expression="#[payload.size &gt; 0]">
				<logger level="INFO" doc:name="Logger" doc:id="652f97e7-4185-493e-a642-4a029825383d" message="--- true condition---"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="aa6ecb6a-7407-4cf0-8edd-72261ae129a1" message="---- false condition--"/>
			</otherwise>
		</choice>
		<ee:transform doc:name="Transform Message" doc:id="238fc256-de4d-4a76-a783-0bac6eb26bce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
" transform message added"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
